/* GERAL */
body
{
	-moz-box-sizing:border-box;
	-o-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	font-family:Lato, Helvetica, Arial, sans-serif;
	margin:0;
	min-width:1180px;
	padding:0;
}

ul
{
	list-style:none;
	margin:0;
	padding:0;
}

.clr
{
	clear:both;
}

.wrapper
{
	margin:0 auto;
	position:relative;
	width:1180px;
}

.inputSizeShort {
	width: 75px;
}

.inputSizeMedium {
	width: 150px;
}

.inputSizeHigh {
	width: 300px;
}

.right-button {
	text-align: right;
	padding-right: 30px;
}

/* HEADER */
header
{
	background:#373737;
	border-top:5px solid #2b2b2b;
	height:50px;
	position:relative;
	width:100%;
	z-index:1;
}

header > div
{
	clear:both;
	height:100%;
}

header > div > div
{
	left:0;
	position:absolute;
	top:5px;
}

header > div > div > a
{
	color:#fff;
	font-size:30px;
	text-decoration:none;
}

header > div > nav
{
	position:absolute;
	right:0;
	top:7px;
	z-index:1;
}

header > div > nav > ul
{
	overflow:hidden;
}

header > div > nav > ul > li
{
	border:1px solid #C14018;
	float:left;
	line-height:30px;
}

header > div > nav > ul > li > a
{
	display:inline-block;
	padding:0 20px;
	position:relative;
	text-decoration:none;
}

header > div > nav > ul > li > a.first
{
	background:#F96F44;
	color:#fff;
	text-shadow:1px 1px 0 #777;
}

header > div > nav > ul > li > a.last
{
	background:#fbad26;
	color:#784f08;
	text-shadow:1px 1px 0 #fbbd26;
}

/* CONTENT */
div#content
{
	border-top:5px solid #dfdfdf;
}

div#content > .content-title {
	background: #fafafa;
	border-bottom: 1px solid #ddd;
}

div#content > .content-title > .wrapper > h1
{
	border: 0;
	color: #666;	
	font-size: 16px;	
	margin: 0;
	padding: 20px 0;	
}

div#map
{
	height:500px;
	min-width:1180px;
}

div#map > form
{
	position:absolute;
	text-align:center;
	top:250px;
	width:100%;
	z-index:1000;
}

div#map > form > div.form-header
{
	-moz-border-radius:5px;
	-moz-opacity:.9;
	-o-border-radius:5px;
	-o-opacity:.9;
	-webkit-border-radius:5px;
	-webkit-opacity:.9;
	background:#333;
	border-radius:5px;
	filter:alpha(opacity=9);
	margin:0 auto;
	opacity:.9;
	padding:30px;
	width:930px;
}

div#map > form > div.form-header > select.form-header-alt-select
{
	background:#F96F44;
	border-bottom:4px solid #bb3d16;
	color:#fff;
}

div#map > form > div.form-header > select
{
	background-color:#fff;
	border:0;
	border-bottom:4px solid #dfdfdf;
	color:#666;
	cursor:pointer;
	display:inline-block;
	font-size:15px;
	margin:0 10px 0 0;
	outline:none;
	padding:7px 6px;
}

div#map > form > div.form-header > button
{
	background:#00aeef;
	border:1px solid #297EA9;
	border-bottom-width:4px;
	color:#fff;
	cursor:pointer;
	font-size:17px;
	line-height:24px;
	padding:5px 15px;
	text-shadow:1px 1px 0 #3b3b3b;
}

/* CONTENT SLIDES */
div.flexslider
{
	border:0!important;
	margin:0!important;
}

ul.slides > li
{
	background-color:#f6f6f6;
	border-top:5px solid #dfdfdf;
	cursor:pointer;
	padding:10px;
	position:relative;
	width:500px!important;
}

ul.slides > li:hover
{
	-moz-transition:all .5s;
	-o-transition:all .5s;
	-webkit-transition:all .5s;
	background-color:#f0f0f0;
	border-top:5px solid silver;
	transition:all .5s;
}

ul.slides > li > img
{
	float:left;
	padding-right:10px;
	width:200px!important;
}

ul.slides > li > span
{
	color:#898989;
	display:block;
	font-size:11px;
	font-weight:700;
	letter-spacing:1px;
	line-height:13px;
	margin:7px 5px 0;
	text-transform:uppercase;
}

ul.slides > li > h3
{
	border:0;
	font:bold 22px/26px Helvetica, Arial, sans-serif;
	font-weight:400;
	margin:5px 0 10px;
	padding:0;
}

/* FOOTER */

footer
{
	border-bottom:15px solid #F96F44;
	border-top:5px solid #dfdfdf;
	overflow:hidden;
	position:relative;
	z-index:1;
}

footer > div.footer-1
{
	background:#373737;
	display:block;
	padding-bottom:20px;
}

footer > div.footer-1 > div.wrapper > div
{
	float:left;
	margin-right:65px;
}

footer > div.footer-1 > div.wrapper > div > h2
{
	color:#ddd;
	font-size:17px;
	text-shadow:#111 1px 1px 5px;
}

footer > div.footer-1 > div.wrapper > div > ul > li > a
{
	color:#999;
	text-decoration:none;
	text-shadow:#111 1px 1px 3px;
}

footer > div.footer-1 > div.wrapper > div > ul > li > a:hover
{
	color:#F96F44;
}

footer > div.footer-2
{
	background:#303030;
	line-height:50px;
}

footer > div.footer-2 > div.wrapper > div.footer-2-left
{
	color:#ddd;
	float:left;
	font-size:14px;
	text-shadow:#111 1px 1px 5px;
	width:890px;
}

footer > div.footer-2 > div.wrapper > div.footer-2-right
{
	float:left;
	text-align:right;
	width:245px;
}

footer > div.footer-2 > div.wrapper > div.footer-2-right > ul
{
	height:30px;
	margin-top:10px;
}

footer > div.footer-2 > div.wrapper > div.footer-2-right > ul > li
{
	display:inline-block;
}

footer > div.footer-2 > div.wrapper > div.footer-2-right > ul > li > img
{
	cursor:pointer;
}

footer > div.footer-2 > div.wrapper > div.footer-2-right > ul > li > img:hover
{
	-moz-opacity:.7;
	-moz-transition:all .5s;
	-o-opacity:.7;
	-o-transition:all .5s;
	-webkit-opacity:.7;
	-webkit-transition:all .5s;
	opacity:.7;
	transition:all .5s;
}

/* SUBMITPROPERTY */
.wrapper > form > div#proprietary
{
	border:1px solid #909090;
	margin-top:-1px;
	z-index:0;
}
 
.wrapper > form > div#proprietary,.wrapper > form > div#real-estate
{
	margin-bottom:10px;
	width:100%;
}

div#account-actions, div#property 
{
	display: inline-block;
	margin: 20px 0;
}

div#property
{
	width: 80%;
}

div#property > div#property-title {
	background: #F96F44;
	line-height: 100px;
}

div#property > div#property-title > h1 
{
	font-size: 30px;
	margin: 0 0 0 20px;	
	color: #fff;
	letter-spacing: 2px;
}

div#property > div#property-triangle 
{
	border: medium solid transparent;
	border-color: #F96F44 #F96F44 #fafafa;
	border-width: 15px;
	left: 40%;
	margin-left: -15px;
	top: 90px;
	content: " ";
	height: 0;
	position: absolute;
	width: 0;
}

div#property > div#property-form 
{
	background: #fafafa;
	padding: 20px 0;	
}

/*
div#property > div#property-form > a 
{
	background: transparent url('../img/facebook-property.png');
	height: 25px;
	text-indent: -9999px;
	display: block;
}

div#property > div#property-form > a#facebook 
{
	background-position: 0 0;
	width: 101px;
	margin: 0 auto;
}
*/

div#property-form > form > div
{
	margin:10px 0;
}
 
div#property-form > form > div > label
{
	display:inline-block;
	font-weight:400;
	text-align:right;
	width:120px;
}
 
div#property-form > form > div > input, div#property-form > form > div > select
{
	background-color:#fff;
	border:1px solid #909090;
	color:#666;
	display:inline-block;
	font-size:15px;
	margin:0 10px 0 0;
	outline:none;
	padding:7px 6px;
}

div#property-form > form > div > button
{
	background:#2D9F1E;
	border:1px solid #36732E;
	border-bottom-width:4px;
	color:#fff;
	cursor:pointer;
	font-size:17px;
	line-height:24px;
	padding:5px 15px;
	text-shadow:1px 1px 0 #3b3b3b;
}

div#account-actions
{
	background: #fafafa;
	height: 200px;
	width: 18%;
	float: right;
}

div#account-actions > div {
	color: #00a4ec;
	font-weight: 700;
	font-size: 16px;
	line-height: 50px;
	margin-left: 20px;
}

div#account-actions > ul 
{
	list-style: disc;
}

div#account-actions > ul > li > a {
	text-decoration: none;
	color: #000;
}

div#account-actions > ul > li > a:hover {
	color: #2ba6cb;
	text-decoration: underline;
}

div#account-actions > ul > li
{
	margin: 10px 0 10px 40px;
	font-size: 13px;
}