body
{
	-moz-box-sizing:border-box;
	-o-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	background:none repeat scroll 0 0 #fafafa;
	box-sizing:border-box;
	font-family:Lato, Helvetica, Arial, sans-serif;
	margin:0;
	min-width:1180px;
	padding:0;
    overflow-x: hidden;
}
 
ul
{
	list-style:none;
	margin:0;
	padding:0;
}

.clr {
    clear: both;
}

 
.hide
{
	display:none;
}
 
.wrapper
{
	margin:0 auto;
	position:relative;
	width:1180px;
}
 
.inputSizeLittleSmaller
{
	width:50px;
}
 
.inputSizeSmaller
{
	width:75px;
}
 
.inputSizeMediumSmaller
{
	width:85px;
}
 
.inputSizeMedium
{
	width:150px;
}
 
.inputSizeBig
{
	width:300px;
}
 
.right-button
{
	padding-right:30px;
	text-align:right;
}

header
{
	background:#373737;
	border-top:5px solid #2b2b2b;
	height:50px;
	position:relative;
	width:100%;
	z-index:1;
}
 
header > div
{
	clear:both;
	height:100%;
}
 
header > div > div
{
	left:0;
	position:absolute;
	top:5px;
}
 
header > div > div > a
{
	color:#fff;
	font-size:30px;
	text-decoration:none;
}
 
header > div > nav
{
	position:absolute;
	right:0;
	top:7px;
	z-index:1;
}
 
header > div > nav > ul
{
	overflow:hidden;
}
 
header > div > nav > ul > li
{
	border:1px solid #C14018;
	float:left;
	line-height:30px;
}
 
header > div > nav > ul > li > a
{
	display:inline-block;
	padding:0 20px;
	position:relative;
	text-decoration:none;
}
 
header > div > nav > ul > li > a.first
{
	background:#F96F44;
	color:#fff;
	text-shadow:1px 1px 0 #777;
}
 
header > div > nav > ul > li > a.last
{
	background:#fbad26;
	color:#784f08;
	text-shadow:1px 1px 0 #fbbd26;
}
 
div#content
{
	border-top:5px solid #dfdfdf;
}
 
div#content > .content-title,form#buscaAvancada > .content-title
{
	background:#fafafa;
	border-bottom:1px solid #ddd;
}
 
div#content > .content-title > .wrapper > h1,form#buscaAvancada > .content-title > .wrapper > h1
{
	border:0;
	color:#666;
	font-size:16px;
	margin:0;
	padding:15px 0;
}
 
div#map
{
	height:450px;
	min-width:1180px;
}
 
div#map > form
{
	position:absolute;
	text-align:center;
	top:170px;
	width:100%;
	z-index:1000;
}
 
div#map > form > div.form-header
{
	-moz-border-radius:5px 0 5px 5px;
	-moz-opacity:.9;
	-o-border-radius:5px 0 5px 5px;
	-o-opacity:.9;
	-webkit-border-radius:5px 0 5px 5px;
	-webkit-opacity:.9;
	background:#333;
	border-radius:5px 0 5px 5px;
	filter:alpha(opacity=9);
	margin:0 auto;
	opacity:.9;
	padding:30px;
	width:930px;
}
 
div#buscaRapidaOcultar
{
	background:#3b3b3b;
	border-bottom:1px solid #fff;
	border-radius:5px 5px 0 0;
	color:#fff;
	float:right;
	line-height:20px;
	margin:-53px -30px 0 0;
	width:100px;
}
 
div#buscaRapidaOcultar > a, div#showSearch > a
{
    font-size:12px;
	color:#F96F44;
	text-decoration:none;
}
 
div#showSearch
{
	color:#fff;
	position:absolute;
	text-align:center;
	top:53px;
	width:100%;
	z-index:1000;
}
 
div#showSearch > a
{
	background-color:#373737;
	border-radius:0 0 5px 5px;
	padding:2px 10px;
}
 
form#buscaAvancada
{
	height:160px;
}
 
form#buscaAvancada > div.wrapper > div.form-header > div.form-header-group
{
	display:inline-block;
	line-height:30px;
	margin-right:5px;
	vertical-align:text-top;
}
 
form#buscaAvancada > div.wrapper > div.form-header > div.form-header-group > label,form#buscaAvancada > div.wrapper > div.form-header > div.form-header-group > select,form#buscaAvancada > div.wrapper > div.form-header > div.form-header-group > input
{
	display:block!important;
}
 
form#buscaAvancada > div.wrapper > div.form-header > div.form-header-group > input#precoDe,form#buscaAvancada > div.wrapper > div.form-header > div.form-header-group > input#precoAte
{
	display:inline-block!important;
}
 
form#buscaAvancada > div.wrapper > div.form-header > div.form-header-group > div
{
	padding:10px;
}
 
form#buscaAvancada > div.wrapper > div.form-header > div.form-header-group > div > div.peso
{
	display:block!important;
	width:100px;
}
 
form#buscaAvancada > div.wrapper > div.form-header > div.form-header-group > button
{
	background:#F96F44;
	border:1px solid #AC573D;
	color:#fff;
	cursor:pointer;
	font-size:17px;
	margin-top:30px;
	padding:5px 15px;
	text-shadow:1px 1px 0 #3b3b3b;
}
 
div#map > form > div.form-header > div > select.form-header-alt-select
{
	background:#F96F44;
	border-bottom:4px solid #bb3d16;
	color:#fff;
}
 
div#map > form > div.form-header > select
{
	background-color:#fff;
	border:0;
	border-bottom:4px solid #dfdfdf;
	color:#666;
	cursor:pointer;
	display:inline-block;
	font-size:15px;
	margin:0 10px 0 0;
	outline:none;
	padding:7px 6px;
}
 
div#map input
{
	background-color:#fff;
	border:0;
	border-bottom:4px solid #dfdfdf;
	color:#666;
	display:inline-block;
	font-size:15px;
	margin:0 10px 0 0;
	outline:none;
	padding:8px 6px;
	width:650px;
}
 
div#map > form > div.form-header > button
{
	background:#00aeef;
	border:1px solid #297EA9;
	border-bottom-width:4px;
	color:#fff;
	cursor:pointer;
	font-size:17px;
	line-height:24px;
	padding:5px 15px;
	text-shadow:1px 1px 0 #3b3b3b;
}
 
div#map > form > div.form-header > a#advancedSearch,form#buscaAvancada > div.content-title > div.wrapper > h1 > a#fastSearch
{
	color:#F96F44;
	font-weight:700;
	margin-left:10px;
	text-decoration:none;
}
 
div.flexslider
{
	border:0!important;
	margin:0!important;
}
 
ul.homeSlides > li
{
	background-color:#f6f6f6;
	border-top:5px solid #dfdfdf;
	cursor:pointer;
	padding:10px;
	position:relative;
	width:500px!important;
}
 
ul.homeSlides > li:hover,.flexsliderSelectByMap
{
	-moz-transition:all .5s!important;
	-o-transition:all .5s!important;
	-webkit-transition:all .5s!important;
	background-color:#ececec!important;
	border-top:5px solid #F96F44!important;
	transition:all .5s!important;
}
 
ul.homeSlides > li > img
{
	float:left;
	padding-right:10px;
	width:200px!important;
}
 
ul.homeSlides > li > span
{
	color:#898989;
	display:block;
	font-size:11px;
	font-weight:700;
	letter-spacing:1px;
	line-height:13px;
	margin:7px 5px 0;
	text-transform:uppercase;
}
 
ul.homeSlides > li > h3
{
	border:0;
	font:bold 22px/26px Helvetica, Arial, sans-serif;
	font-weight:400;
	margin:5px 0 10px;
	padding:0;
}

footer
{
	border-bottom:15px solid #F96F44;
	border-top:5px solid #dfdfdf;
	overflow:hidden;
	position:relative;
	z-index:1;
}
 
footer > div.footer-1
{
	background:#373737;
	display:block;
	padding-bottom:20px;
}
 
footer > div.footer-1 > div.wrapper > div
{
	float:left;
	margin-right:65px;
}
 
footer > div.footer-1 > div.wrapper > div > h2
{
	color:#ddd;
	font-size:17px;
	text-shadow:#111 1px 1px 5px;
}
 
footer > div.footer-1 > div.wrapper > div > ul > li > a
{
	color:#999;
	text-decoration:none;
	text-shadow:#111 1px 1px 3px;
}
 
footer > div.footer-1 > div.wrapper > div > ul > li > a:hover
{
	color:#F96F44;
}
 
footer > div.footer-2
{
	background:#303030;
	line-height:50px;
}
 
footer > div.footer-2 > div.wrapper > div.footer-2-left
{
	color:#ddd;
	float:left;
	font-size:14px;
	text-shadow:#111 1px 1px 5px;
	width:890px;
}
 
footer > div.footer-2 > div.wrapper > div.footer-2-right
{
	float:left;
	text-align:right;
	width:245px;
}
 
footer > div.footer-2 > div.wrapper > div.footer-2-right > ul
{
	height:30px;
	margin-top:10px;
}
 
footer > div.footer-2 > div.wrapper > div.footer-2-right > ul > li > img:hover
{
	-moz-opacity:.7;
	-moz-transition:all .5s;
	-o-opacity:.7;
	-o-transition:all .5s;
	-webkit-opacity:.7;
	-webkit-transition:all .5s;
	opacity:.7;
	transition:all .5s;
}

footer > div.footer-2 > div.wrapper > div.footer-2-right > ul > li
{
	display:inline-block;
}
 
footer > div.footer-2 > div.wrapper > div.footer-2-right > ul > li > img
{
	cursor:pointer;
}
 
.wrapper > form > div#proprietary
{
	border:1px solid #909090;
	margin-top:-1px;
	z-index:0;
}
 
.wrapper > form > div#proprietary,.wrapper > form > div#real-estate
{
	margin-bottom:10px;
	width:100%;
}
 
div#account-actions,div#default-top
{
	display:inline-block;
	margin:20px 0;
}
 
div#default-top
{
	width:80%;
}

.default-top-alt-size {
    width:70% !important;
}
 
div#default-top > div#default-top-title
{
	line-height:100px;
}

.default-top-orange {
    background:#F96F44;
    border-color:#F96F44 #F96F44 #fafafa;
}

.default-top-yellow {
    background:#fbad26;
    border-color:#fbad26 #fbad26 #fafafa;
}
 
div#default-top > div#default-top-title > h1
{
	color:#fff;
	font-size:30px;
	letter-spacing:2px;
	margin:0 0 0 20px;
}
 
div#default-top > div#default-top-triangle
{
	border:medium solid transparent;
	border-width:15px;
	content:" ";
	height:0;
	left:40%;
	margin-left:-15px;
	position:absolute;
	top:90px;
	width:0;
}

.default-top-triangle-orange {
    border-color:#F96F44 #F96F44 #fafafa !important;
}

.default-top-triangle-yellow {
    border-color:#fbad26 #fbad26 #fafafa !important;
}
 
div#default-top > div#default-top-form
{
	background:#fafafa;
	padding:20px 0;
}
 
div#default-top-info
{
	float:left;
	width:550px;
}
 
div#default-top-info > div
{
	margin:10px 0;
}
 
div#default-top-info > div > label
{
	display:inline-block;
	font-weight:400;
	text-align:right;
	width:120px;
}
 
div#default-top-info > div > input,div#default-top-info > div > select,form#buscaAvancada > div.wrapper > div.form-header > div.form-header-group > select,form#buscaAvancada > div.wrapper > div.form-header > div.form-header-group > input
{
	background-color:#fff;
	border:1px solid #909090;
	color:#666;
	display:inline-block;
	font-size:15px;
	margin:0 10px 0 0;
	outline:none;
	padding:7px 6px;
}
 
div#default-top-info > div > input,form#buscaAvancada > div.wrapper > div.form-header > div.form-header-group > input
{
	padding:8px 6px!important;
}
 
div#default-top-form > form > div > button
{
	background:#198032;
	border:1px solid #116626;
	color:#fff;
	cursor:pointer;
	font-size:17px;
	line-height:24px;
	padding:5px 15px;
	text-shadow:1px 1px 0 #818181;
}
 
div#default-top-details
{
	float:left;
	width:390px;
}
 
div#default-top-details > div
{
	background:#f4f4f4;
	font-size:13px;
	margin:0 20px;
	padding:10px;
}
 
div#default-top-details > div > div
{
	display:inline-block;
	margin:0 0 5px 20px;
}
 
div#default-top-details > div > div > input
{
	background-color:#fff;
	border:1px solid #909090;
	color:#666;
	margin-top:5px;
	outline:none;
	padding:2px;
}
 
div#account-actions
{
	background:#fafafa;
    border-left: 1px dotted #d5d5d5;
	float:right;
	width:18%;
}

.account-actions-alt-size {
    width:28% !important;
}

.account-actions-alt-size > ul {
    list-style: none !important;
    margin: 10px 0 10px -20px !important;
}
 
div#account-actions > div
{
	color:#00a4ec;
	font-size:16px;
	font-weight:700;
	line-height:50px;
	margin-left:20px;
}
 
div#account-actions > ul
{
	list-style:disc;
}
 
div#account-actions > ul > li > a
{
	color:#000;
	text-decoration:none;
}
 
div#account-actions > ul > li > a:hover
{
	color:#2ba6cb;
	text-decoration:underline;
}
 
div#account-actions > ul > li
{
	font-size:13px;
	margin:10px 0 10px 40px;
}

div#detailsAlbum {
    height: 50%;
    width: 50%;    
}
 
/*#detalhesApartamento
{
	background:none repeat scroll 0 0 #fafafa!important;
	display:none;
	padding:30px;
	width:100%;
}
 
#slideFotosApartamento
{
	border:#000 solid;
	float:left;
	height:250px;
	margin-bottom:0!important;
	overflow:hidden;
	width:400px;
}
 
#textoSobreLugar
{
	float:left;
	width:400px;
}
 
#detalhesIconesApartamento
{
	float:left;
	width:860px;
}
 
#textoApartamento
{
	float:left;
	margin-left:30px;
	margin-top:30px;
}
 
#nomeLocal
{
	float:left;
	margin-left:30px;
	width:860px;
}
 
.beds
{
	background:url(../img/bed.png) no-repeat scroll left center transparent;
	margin-left:30px;
	padding:0 0 0 18px;
}
 
.baths
{
	background:url(../img/baths.png) no-repeat scroll left center transparent;
	margin-left:30px;
	padding:0 0 0 18px;
}
 
.cars
{
	background:url(../img/cars.png) no-repeat scroll left center transparent;
	margin-left:30px;
	padding:0 0 0 18px;
}
 
.costs
{
	margin-left:30px;
	padding:0 0 0 18px;
}
 
.centralWrapper
{
	float:left;
	margin-bottom:50px;
	width:800px!important;
}
 
#simpleInformation
{
	float:left;
	margin:30px 0;
	width:300px;
}
 
#simpleInformation #total
{
	background:none repeat scroll 0 0 #F96F44;
	border:1px solid #C14018;
	color:#FFF;
	text-align:center;
	text-shadow:1px 1px 0 #777;
}
 
#simpleInformation #total span
{
	font-size:14px;
}
 
#simpleInformation .custos
{
	background:none repeat scroll 0 0 #FBAD26;
	border:1px solid #C14018;
	color:#784F08;
	line-height:30px;
	text-shadow:1px 1px 0 #FBBD26;
}
 
#simpleInformation .custos span
{
	margin-left:18px;
}
 
#simpleInformation .custos .price
{
	float:right;
	margin-right:18px;
}
 
#simpleInformation #sellerInfromation
{
	margin:20px 0;
}
 
#simpleInformation #sellerInfromation img
{
	border:#000 3px solid;
	float:left;
	height:100px;
	width:100px;
}
 
#simpleInformation #sellerInfromation span
{
	float:left;
	margin-left:30px;
}
 
#simpleInformation #sellerInfromation .userInformation
{
	padding-top:20px;
}
 
#slideFotosApartamentoDetalhes
{
	height:400px;
	overflow:hidden;
	width:700px;
}
 
.placeDetails
{
	background:none repeat scroll 0 0 #F4F4F4;
	border:1px #DFDFDF solid;
	width:700px;
}
 
.placeDetails #generalInformations span
{
	display:inline-block;
	margin-left:10px;
	margin-top:5px;
}
 
.placeDetails #generalInformations span.title
{
	font-weight:700;
}
 
.placeDetails #generalInformations span.item
{
	margin-right:150px;
}
 
#titleComodidades
{
	font-size:40px;
	margin:10px 0;
}
 
table#comodidadesImovel td
{
	background:none repeat scroll 0 0 #F96F44;
	border:1px solid #C14018;
	color:#FFF;
	text-align:center;
	text-shadow:1px 1px 0 #777;
	width:343px;
}
 
.placeDetails table td.dont
{
	color:#BCBCBC;
}
 
table#comodidadesCondominio td
{
	background:none repeat scroll 0 0 #FBAD26;
	border:1px solid #C14018;
	color:#784F08;
	text-align:center;
	text-shadow:1px 1px 0 #FBBD26;
	width:343px;
}
 
.dadosAdministracao
{
	float:left;
	width:900px;
}
 
.charts .title
{
	border-bottom:3px solid #000;
	font-size:30px;
	font-weight:700;
	margin:10px 30px;
	width:450px;
}
 
#usersAlsoView span
{
	display:block;
	margin-left:30px;
	margin-top:10px;
}
 
.menuAdministracao
{
	float:left;
	margin-top:30px;
	width:200px;
}
 
.menuAdministracao .item
{
	background:none repeat scroll 0 0 #F96F44;
	border:1px solid #C14018;
	color:#FFF;
	text-align:center;
	text-shadow:1px 1px 0 #777;
}
 
.dadosApartamento
{
	background:none repeat scroll 0 0 #F4F4F4;
	border:1px #DFDFDF solid;
	margin-left:30px;
	margin-top:30px;
	padding:10px;
	width:800px;
}
 
.dadosApartamento .secaoTitle
{
	font-size:30px;
	font-weight:700;
}
 
.dadosApartamento div
{
	background:none repeat scroll 0 0 #F4F4F4;
	margin-top:10px;
}
 
.dadosApartamento span.title
{
	font-weight:700;
	width:300px;
}
 
.indiceChart
{
	float:right;
	margin-right:350px;
	margin-top:30px;
	width:300px;
}
 
.indiceChart ul li
{
	margin-top:5px;
}
 
.controle a
{
	cursor:pointer;
	display:inline-block;
	margin:10px;
	text-align:center;
	width:150px;
}
 
.controle .excluir
{
	background:none repeat scroll 0 0 #E82C0C;
	border:1px solid #C14018;
	color:#FFF;
	text-shadow:1px 1px 0 #777;
}
 
.controle .vendido
{
	background:none repeat scroll 0 0 #045923;
	border:1px solid #0C9C2A;
	color:#FFF;
	text-shadow:1px 1px 0 #777;
}
 
.controle .editar
{
	background:none repeat scroll 0 0 #0D3159;
	border:1px solid #03545E;
	color:#FFF;
	text-shadow:1px 1px 0 #777;
}
 
.controleComponente
{
	background:none repeat scroll 0 0 #F4F4F4;
	float:left;
	margin:30px;
	min-height:300px;
	width:500px;
}
 
.controleComponente .title
{
	font-size:20px;
	font-weight:700;
	margin-left:10px;
	margin-top:10px;
}
 
.controleComponente .item
{
	margin-left:10px;
}
 
.controleComponente .item input
{
	margin:10px auto;
}
 
.cluster
{
	color:#FFF;
	font-family:Arial,Helvetica;
	font-size:11px;
	font-weight:700;
	text-align:center;
}
 
.cluster-1
{
	background-image:url(../img/m1.png);
	height:52px;
	line-height:53px;
	width:53px;
}
 
.cluster-2
{
	background-image:url(../img/m2.png);
	height:55px;
	line-height:53px;
	width:56px;
}
 
.cluster-3
{
	background-image:url(../img/m3.png);
	height:65px;
	line-height:66px;
	width:66px;
}
 
.tooltip
{
	display:block;
	font-size:11px;
	line-height:1.4;
	opacity:0;
	position:absolute;
	visibility:visible;
	z-index:1030;
}
 
.tooltip.in
{
	opacity:0.8;
}
 
.tooltip.top
{
	margin-top:-3px;
	padding:5px 0;
}
 
.tooltip.right
{
	margin-left:3px;
	padding:0 5px;
}
 
.tooltip.bottom
{
	margin-top:3px;
	padding:5px 0;
}
 
.tooltip.left
{
	margin-left:-3px;
	padding:0 5px;
}
 
.tooltip-inner
{
	background-color:#000;
	border-radius:4px 4px 4px 4px;
	color:#FFF;
	max-width:200px;
	padding:8px;
	text-align:center;
	text-decoration:none;
}
 
.tooltip-arrow
{
	border-color:transparent;
	border-style:solid;
	height:0;
	position:absolute;
	width:0;
}
 
.tooltip.top .tooltip-arrow
{
	border-top-color:#000;
	border-width:5px 5px 0;
	bottom:0;
	left:50%;
	margin-left:-5px;
}
 
.tooltip.right .tooltip-arrow
{
	border-right-color:#000;
	border-width:5px 5px 5px 0;
	left:0;
	margin-top:-5px;
	top:50%;
}
 
.tooltip.left .tooltip-arrow
{
	border-left-color:#000;
	border-width:5px 0 5px 5px;
	margin-top:-5px;
	right:0;
	top:50%;
}
 
.tooltip.bottom .tooltip-arrow
{
	border-bottom-color:#000;
	border-width:0 5px 5px;
	left:50%;
	margin-left:-5px;
	top:0;
}
 
.carousel
{
	line-height:1;
	margin-bottom:20px;
	position:relative;
}
 
.carousel-inner
{
	overflow:hidden;
	position:relative;
	width:100%;
}
 
.carousel-inner > .item
{
	display:none;
	position:relative;
	transition:left .6s ease-in-out 0;
}
 
.carousel-inner > .item > img,.carousel-inner > .item > a > img
{
	display:block;
	line-height:1;
}
 
.carousel-inner > .next,.carousel-inner > .prev
{
	position:absolute;
	top:0;
	width:100%;
}
 
.carousel-control
{
	background:none repeat scroll 0 0 #222;
	border:3px solid #FFF;
	border-radius:23px 23px 23px 23px;
	color:#FFF;
	font-size:60px;
	font-weight:100;
	height:40px;
	left:15px;
	line-height:30px;
	margin-top:-20px;
	opacity:0.5;
	position:absolute;
	text-align:center;
	top:40%;
	width:40px;
}
 
.carousel-control.right
{
	left:auto;
	right:15px;
}
 
.carousel-control:hover,.carousel-control:focus
{
	color:#FFF;
	opacity:0.9;
	text-decoration:none;
}
 
.carousel-indicators
{
	list-style:none outside none;
	margin:0;
	position:absolute;
	right:15px;
	top:15px;
	z-index:5;
}
 
.carousel-indicators li
{
	background-color:rgba(255,255,255,0.25);
	border-radius:5px 5px 5px 5px;
	display:block;
	float:left;
	height:10px;
	margin-left:5px;
	text-indent:-999px;
	width:10px;
}
 
.carousel-indicators .active
{
	background-color:#FFF;
}
 
.carousel-caption
{
	background:none repeat scroll 0 0 rgba(0,0,0,0.75);
	bottom:0;
	left:0;
	padding:15px;
	position:absolute;
	right:0;
}
 
.carousel-caption h4,.carousel-caption p
{
	color:#FFF;
	line-height:20px;
}
 
.carousel-caption h4
{
	margin:0 0 5px;
}
 
.carousel-caption p
{
	margin-bottom:0;
}
 
.nav
{
	list-style:none outside none;
	margin-bottom:20px;
	margin-left:0;
}
 
.nav > li > a:hover,.nav > li > a:focus
{
	background-color:#EEE;
	text-decoration:none;
}
 
.nav > li > a > img
{
	max-width:none;
}
 
.nav > .pull-right
{
	float:right;
}
 
.nav-header
{
	color:#999;
	display:block;
	font-size:11px;
	font-weight:700;
	line-height:20px;
	padding:3px 15px;
	text-shadow:0 1px 0 rgba(255,255,255,0.5);
	text-transform:uppercase;
}
 
.nav li + .nav-header
{
	margin-top:9px;
}
 
.nav-list
{
	margin-bottom:0;
	padding-left:15px;
	padding-right:15px;
}
 
.nav-list > li > a,.nav-list .nav-header
{
	margin-left:-15px;
	margin-right:-15px;
	text-shadow:0 1px 0 rgba(255,255,255,0.5);
}
 
.nav-list > li > a
{
	padding:3px 15px;
}
 
.nav-list > .active > a,.nav-list > .active > a:hover,.nav-list > .active > a:focus
{
	background-color:#08C;
	color:#FFF;
	text-shadow:0 -1px 0 rgba(0,0,0,0.2);
}
 
.nav-list [class^=icon-],.nav-list [class*=" icon-"]
{
	margin-right:2px;
}
 
.nav-list .divider
{
	background-color:#E5E5E5;
	border-bottom:1px solid #FFF;
	height:1px;
	margin:9px 1px;
	overflow:hidden;
}
 
.nav-tabs:before,.nav-pills:before,.nav-tabs:after,.nav-pills:after
{
	content:"";
	display:table;
	line-height:0;
}
 
.nav-tabs > li > a,.nav-pills > li > a
{
	line-height:14px;
	margin-right:2px;
	padding-left:12px;
	padding-right:12px;
}
 
.nav-tabs
{
	border-bottom:1px solid #DDD;
}
 
.nav-tabs > li
{
	margin-bottom:-1px;
}
 
.nav-tabs > li > a
{
	border:1px solid transparent;
	border-radius:4px 4px 0 0;
	line-height:20px;
	padding-bottom:8px;
	padding-top:8px;
}
 
.nav-tabs > li > a:hover,.nav-tabs > li > a:focus
{
	border-color:#EEE #EEE #DDD;
}
 
.nav-tabs > .active > a,.nav-tabs > .active > a:hover,.nav-tabs > .active > a:focus
{
	-moz-border-bottom-colors:none;
	-moz-border-left-colors:none;
	-moz-border-right-colors:none;
	-moz-border-top-colors:none;
	background-color:#FFF;
	border-color:#DDD #DDD transparent;
	border-image:none;
	border-style:solid;
	border-width:1px;
	color:#555;
	cursor:default;
}
 
.nav-pills > li > a
{
	border-radius:5px 5px 5px 5px;
	margin-bottom:2px;
	margin-top:2px;
	padding-bottom:8px;
	padding-top:8px;
}
 
.nav-pills > .active > a,.nav-pills > .active > a:hover,.nav-pills > .active > a:focus
{
	background-color:#08C;
	color:#FFF;
}
 
.nav-stacked > li
{
	float:none;
}
 
.nav-stacked > li > a
{
	margin-right:0;
}
 
.nav-tabs.nav-stacked
{
	border-bottom:0 none;
}
 
.nav-tabs.nav-stacked > li > a
{
	border:1px solid #DDD;
	border-radius:0 0 0 0;
}
 
.nav-tabs.nav-stacked > li:first-child > a
{
	border-top-left-radius:4px;
	border-top-right-radius:4px;
}
 
.nav-tabs.nav-stacked > li:last-child > a
{
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}
 
.nav-tabs.nav-stacked > li > a:hover,.nav-tabs.nav-stacked > li > a:focus
{
	border-color:#DDD;
	z-index:2;
}
 
.nav-pills.nav-stacked > li > a
{
	margin-bottom:3px;
}
 
.nav-pills.nav-stacked > li:last-child > a
{
	margin-bottom:1px;
}
 
.nav-tabs .dropdown-menu
{
	border-radius:0 0 6px 6px;
}
 
.nav-pills .dropdown-menu
{
	border-radius:6px 6px 6px 6px;
}
 
.nav .dropdown-toggle .caret
{
	border-bottom-color:#08C;
	border-top-color:#08C;
	margin-top:6px;
}
 
.nav .dropdown-toggle:hover .caret,.nav .dropdown-toggle:focus .caret
{
	border-bottom-color:#005580;
	border-top-color:#005580;
}
 
.nav-tabs .dropdown-toggle .caret
{
	margin-top:8px;
}
 
.nav .active .dropdown-toggle .caret
{
	border-bottom-color:#FFF;
	border-top-color:#FFF;
}
 
.nav-tabs .active .dropdown-toggle .caret
{
	border-bottom-color:#555;
	border-top-color:#555;
}
 
.nav-tabs .open .dropdown-toggle,.nav-pills .open .dropdown-toggle,.nav > li.dropdown.open.active > a:hover,.nav > li.dropdown.open.active > a:focus
{
	background-color:#999;
	border-color:#999;
	color:#FFF;
}
 
.nav li.dropdown.open .caret,.nav li.dropdown.open.active .caret,.nav li.dropdown.open a:hover .caret,.nav li.dropdown.open a:focus .caret
{
	border-bottom-color:#FFF;
	border-top-color:#FFF;
	opacity:1;
}
 

 

 
#simpleInformation #total span.important,table#comodidadesImovel thead,table#comodidadesCondominio thead
{
	font-size:30px;
}
 
table#comodidadesImovel,table#comodidadesCondominio,.controleComponente .item label,.nav-tabs > li,.nav-pills > li
{
	float:left;
}
 
.carousel-inner > .active,.carousel-inner > .next,.carousel-inner > .prev,.nav > li > a
{
	display:block;
}
 
.carousel-inner > .active,.carousel-inner > .next.left,.carousel-inner > .prev.right
{
	left:0;
}
 
.carousel-inner > .next,.carousel-inner > .active.right
{
	left:100%;
}
 
.carousel-inner > .prev,.carousel-inner > .active.left
{
	left:-100%;
}*/