body {
	margin: 0;
	padding: 0;
	font-family: Lato, Helvetica, Arial, sans-serif;
	box-sizing: border-box;
	min-width: 1180px;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

header {
	position: relative;
	width: 100%;
	height: 50px;
	background: #373737;
	z-index: 1;
	border-top: 5px solid #2b2b2b;
}

header > div {
	clear: both;
	position: relative;
	margin: 0 auto;
	width: 1180px;
	height: 100%;
}

header > div > div {
	position: absolute;
	left: 0;
	top: 5px;	
}

header > div > div > a {
	color: #fff;
	font-size: 30px;
	text-decoration: none;
}

header > div > nav {
	position: absolute;
	top: 7px;
	right: 0;
	z-index: 1;
}

header > div > nav > ul {
	overflow: hidden;
}

header > div > nav > ul > li {
	border: 1px solid #C14018;
	float: left;
	line-height: 30px;
}

header > div > nav > ul > li > a {
	position: relative;
	padding: 0 20px;		
	text-decoration: none;
	display: inline-block;
}

header > div > nav > ul > li > a.first {
	color: #fff;
	background: #f1592a;
	text-shadow: 1px 1px 0 #777;
}

header > div > nav > ul > li > a.last {
	color: #784f08;
	background: #fbad26;
	text-shadow: 1px 1px 0 #fbbd26;
}

footer {
	border-top: 5px solid #dfdfdf;
	position: relative;
	border-bottom: 15px solid #f1592a;
	overflow: hidden;
	z-index: 1;
}

.clr {
	clear: both;
}

footer > .footer-1 {
	display: block;
	background: #373737;
		padding-bottom: 20px;
}

.wrapper {
	position: relative;
	margin: 0 auto;
	width: 1180px;
}

footer > .footer-1 > .wrapper > .box-aside {
	float: left;
	margin-right: 65px;
}

footer > .footer-1 > .wrapper > .box-aside > h2 {
	color: #ddd;
	font-size: 17px;
	text-shadow: #111 1px 1px 5px;
}

footer > .footer-1 > .wrapper > .box-aside > ul > li > a {
	color: #999;
	text-shadow: #111 1px 1px 3px;
	text-decoration: none;
}

footer > .footer-1 > .wrapper > .box-aside > ul > li > a:hover {
	color: #f1592a;
}

footer > .footer-2 {
	background: #303030;
	line-height: 50px;
}

footer > .footer-2 > .wrapper > .footer-2-left {
	float: left;
	width: 890px;
	text-shadow: #111 1px 1px 5px;
	color: #ddd;
	font-size: 14px;	
}

footer > .footer-2 > .wrapper > .footer-2-right {
	float: left;
	width: 245px;
	text-align: right;
}

footer > .footer-2 > .wrapper > .footer-2-right > .social {
	margin-top: 10px;
	height: 30px;	
}

footer > .footer-2 > .wrapper > .footer-2-right > .social > li {
	display: inline-block;
}

footer > .footer-2 > .wrapper > .footer-2-right > .social > li > img {
	cursor: pointer;
}

/* HOME */

#content {
	border-top: 5px solid #dfdfdf;
}

#map {
	height: 650px;
}

#map > form {
	position: absolute;
	top: 350px;
	width: 100%;
	z-index: 1000;
	text-align: center;
}

#map > form > div.form-header {
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin: 0 50px;
	background: #333;
	opacity: .95;
	filter: alpha(opacity = 95);
	padding: 10px;
	border-radius: 5px;
	min-width: 1000px;
}

#map > form > div.form-header > select.form-header-alt-select {
	background: #f1592a;
	border-bottom: 4px solid #bb3d16;
	color: #fff;
}

#map > form > div.form-header > select {
	display: inline-block;
	margin: 0;
	padding: 7px 6px;
	background-color: #fff;
	color: #666;
	border: 0;
	outline: none;
	margin-right: 10px;
	font-size: 15px;
	cursor: pointer;
	border-bottom: 4px solid #dfdfdf;
}

#map > form > div.form-header > button {
	background: #00aeef;
	padding: 5px 15px;
	color: #fff;
	border: 1px solid #297EA9;
	border-bottom-width: 4px;
	line-height: 24px;
	font-size: 17px;
	cursor: pointer;
	text-shadow: 1px 1px 0 #3b3b3b;
}

.flexslider {
	border: 0 !important;
	margin: 0 !important;
}

.slides > li {
	width: 500px !important;
	position: relative;
	cursor: pointer;
	padding: 10px;
	background-color: #f6f6f6;
	border-top: 5px solid #dfdfdf;
}

.slides > li:hover {
	border-top: 5px solid #c0c0c0;	
	background-color: #f0f0f0;
}

.slides > li > img {
	width: 200px !important;
	float: left;
	padding-right: 10px;
}

.slides > li > .slider-title {
	font-size: 11px;
	font-weight: 700;
	color: #898989;
	line-height: 13px;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin: 7px 5px 0;
	display: block;
}

.slides > li > h3 {
	font: bold 22px/26px Helvetica, Arial, sans-serif;
	margin: 5px 0 10px;
	border: 0;
	padding: 0;	
	font-weight: 400;
}